extends ../layout

block content
    div(class="container")
        h1(class="center blue-text").
            #{title}
        p 
                        a(href='/blobs/new', class="waves-effect waves-light btn") Crear    
        ul
            - each blob, i in blobs
                h1(class="center red-text").
                    
                p Nombre: #{blob.name}
    
                

                    form(action='/blobs/#{blob._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                        input(type='hidden',value='DELETE',name='_method')
                        button(type='submit').
                            Eliminar
                    p 
                        a(href='/blobs/#{blob._id}/edit') Editar
                    p
                        a(href='/blobs/#{blob._id}') Mostrar datos